:root {
  --primary-font: 'Poppins', sans-serif;
  --tittle-font: 'Fredoka One', cursive;
  --brand-font: 'Oleo Script', cursive;
  --primary-color: #335384;
  --primary-font-color: #3f3b3b;
  --color-a: #506B95;
  --color-b: #6D84A7;
  --color-c: #8A9CB8;
  --color-d: #A7B5CA;
  --color-e: #C4CDDB;
  --color-f: #E1E6ED;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary-font-color);
  background: var(--color-f);
  font-family: var(--primary-font);
}

header {
  position: sticky;
  top: 0;
  left: 0;
}

nav {
  background: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

#brand {
  font-family: var(--brand-font);
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-f);
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 38%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--color-f);
  font-weight: 500;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background-color: #3FA2A2;
  margin: 2px 0 -7px 0;
  transition: width 0.2s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -80px;
  padding-top: 80px;
}

#home {
  justify-content: space-evenly;
}

.group {
  width: 70%;
}

.profile {
  display: grid;
  place-items: center;
}

.profile > div {
  margin: 10px 0;
}

.group p {
  text-align: justify;
}

img[alt="profile"] {
  width: 240px;
}

#greetings {
  font-size: 1.5rem;
}

#greetings span,
.tittle {
  background: linear-gradient(90deg, #3FA2A2 0%, #335384 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#greetings span {
  font-family: var(--tittle-font);
  font-size: 3.5vw;
  letter-spacing: 4px;
  font-style: italic;
  margin-left: 12px;
}

#subs {
  text-transform: capitalize;
  letter-spacing: 8px;
  color: var(--primary-color);
}

#download-resume {
  font-family: var(--primary-font);
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 40px;
  background: linear-gradient(90deg, #335384 0%, #3FA2A2 100%);
  color: var(--color-f);
  border-radius: 40px;
  text-decoration: none;
  transition: 0.2s ease;
}

#download-resume:hover {
  padding: 10px 50px;
}

.group h3 {
  color: var(--primary-color);
}

.contacts {
  display: flex;
}

.contacts li {
  list-style: none;
}

.contacts li a {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 40px;
  color: var(--color-f);
  background: linear-gradient(45deg, #3FA2A2 0%, #335384 100%);
  border-radius: 8px;
  margin: 0 10px;
  text-decoration: none;
  transition: margin 0.2s ease;
}

.contacts li a:hover {
  margin-top: -10px;
}

#biography .group {
  display: flex;
  justify-content: space-evenly;
}

#experiences {
  flex-direction: row;
}

#org-exp,
#com-exp {
  width: 42%;
}

img[alt="success"] {
  margin-top: 24px;
  width: 86%;
}

.tittle {
  font-family: var(--tittle-font);
  font-size: 2rem;
  margin-bottom: 24px;
}

#org-exp > div,
#com-exp > div {
  margin-bottom: 16px;
}

#biography > div > div > h3,
#org-exp > div > h3,
#com-exp > div > h3,
#skills > div > h3 {
  color: var(--primary-color);
}

#biography .group > .bio-list > div > p,
#biography .group > .bio-list > div > div > p,
#biography > div > div > p,
#org-exp > div > p,
#com-exp > div > p {
  padding: 4px 16px;
  width: max-content;
  color: rgb(30 104 21);
  background-color: rgb(200 225 197);
  border: 1px solid rgb(90 221 106);
  border-radius: 8px;
  margin-bottom: 8px;
}

#biography > div {
  margin: 16px 0;
}

#biography > div > p {
  margin-bottom: 0;
}

#biography .group .bio-list div h2 {
  font-family: var(--tittle-font);
  font-size: 2rem;
  margin: 25px 0 16px 0;
}

#org-exp > div > ul,
#com-exp > div > ul {
  margin-left: 35px;
}

#biography .tittle,
#skills .tittle {
  font-size: 4rem;
}

#skills .group {
  margin: 24px 0;
}

#skills div:last-child {
  display: flex;
}

#skills div:last-child ol {
  margin: 0 64px;
}

#skills div:last-child ol li {
  padding-left: 8px;
  font-size: 18px;
  width: 240px;
  position: relative;
}

#skills div:last-child ol li::after {
  content: "\f058";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  color: rgb(30 104 21);
  margin-left: 10px;
  position: absolute;
  right: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 64px;
  background-color: var(--primary-color);
  color: var(--color-f);
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 12%;
}

footer ul li {
  list-style: none;
  font-size: 20px;
}

footer ul li a {
  color: var(--color-f);
  transition: 0.2s ease;
}

footer ul li a:hover {
  color: var(--color-d);
}